{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/college-app"
    },
    "cloudant": {
      "db": "https://histashtersionearietinge:GnfOdDLv0phFxVLbYFiMC080@alexcherrera.cloundant.com/asd_database"
    }
  }
}
